<div class="row justify-content-center align-items-center auth">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

        <!-- ALERT -->
        <app-alert *ngIf="alert" [alert]="alert" store="auth"></app-alert>
        
        <!-- LOADING SPINNER -->
        <div *ngIf="isLoading" class="spinner" style="margin-top: 100px;">
            <app-loading-spinner></app-loading-spinner>
        </div>
        
        <!-- FORMS -->
        <div class="form-container" *ngIf="!isLoading">

            <!-- LOGIN - SIGNUP -->
            <router-outlet></router-outlet>

        </div>
    </div>
</div>
