<div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-11 col-md-8 col-lg-6 col-xl-5">

        <!-- ACCOUNTS FILTER -->
        <app-accounts-filter></app-accounts-filter>

        <div *ngIf="!isLoading; else loading" class="accounts-list">

            <!-- ALERT -->
            <app-alert *ngIf="alert" [alert]="alert" store="accounts"></app-alert>
        
            <!-- ACCOUNTS LIST -->
            <app-accounts-list *ngIf="accountsFetched"></app-accounts-list>

            <!-- RELOAD -->
            <div *ngIf="reload" class="alert alert-warning" role="alert">
                Failed to fetch accounts on page start, please reload
                <hr>
                <button (click)="onReload()" class="btn btn-dark btn-sm">Reload</button>
            </div>
    
        </div>

        <ng-template #loading> 
            <div class="spinner">
                <app-loading-spinner></app-loading-spinner>
            </div>
        </ng-template>
    </div>
</div>

