<ng-container *ngIf="alert">

    <ngb-alert 
        [ngClass]="{ 
            'alert-danger': alert.type === 'ERROR', 
            'alert-success': alert.type === 'SUCCESS',
            'alert-warning': alert.type === 'WARNING',
            'alert-primary': alert.type === 'PRIMARY'
        }"
        [dismissible]="alert.dismissible"
        (closed)="onClosed()">
        <p>{{ alert.message }}</p>
        <ng-container *ngIf="alert.action" >
            <hr>
            <a class="clickable alert-link" (click)="onAction(alert.action)">{{ alert.action | alertActionMessage}}</a>
        </ng-container>
    </ngb-alert>

</ng-container>
