<div class="modal-header text-center">
    <h4 class="modal-title w-100" id="modal-basic-title">Forgot Password?</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body text-center">
    <div class="row justify-content-center align-items-center">
        <div class="col-10">
            <p>Type your email and we will send you instructions how to reset your password</p>
            <form (ngSubmit)="onSubmit()" [formGroup]="resetForm">
                <div class="form-group">
                    <div class="input-group">
                        <input
                            class="form-control"
                            name="email" 
                            type="email"
                            formControlName="email">
                        <div class="input-group-append">
                            <svg-icon 
                                class="input-group-text form-control-icon" 
                                src="assets/email.svg" 
                                [svgStyle]="{ 'height.px':38, 'width.px':38}">
                            </svg-icon>
                        </div>
                    </div>
                </div>
                <button [disabled]="!resetForm.valid" class="btn btn-success">Send</button>
            </form>
        </div>
    </div>
</div>

