<div class="row justify-content-center align-items-center auth">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">

        <!-- ALERT -->
        <app-alert *ngIf="alert" [alert]="alert" store="auth"></app-alert>
           
        <!-- LOADING SPINNER -->
        <div *ngIf="isLoading" class="spinner">
            <app-loading-spinner></app-loading-spinner>
        </div>

        <!-- FORM -->
        <form *ngIf="!isLoading && !finished" (ngSubmit)="onSubmit()" [formGroup]="resetForm">
            <h4 class="auth-label">RESET PASSWORD</h4>
            <div class="form-group">
                <label for="password">New Password</label>
                <div class="input-group">
                    <input 
                        type="password" 
                        name="password"
                        formControlName="password" 
                        class="form-control"
                        #newPass>
                    <div class="input-group-append">
                        <img class="input-group-text clickable" alt="x" [appPasswordVisibility]="newPass">
                    </div>
                </div>
                <div style="color: red;" *ngIf="resetForm.get('password')?.touched">
                    <small *ngIf="resetForm.get('password')?.errors?.required">password required</small>
                    <small *ngIf="resetForm.get('password')?.errors?.minlength">minimum 8 characters</small>
                </div>
            </div>
            <div class="form-group">
                <label for="passwordConfirm">Confirm Password</label>
                <div class="input-group">
                    <input 
                        type="password" 
                        name="passwordConfirm" 
                        formControlName="passwordConfirm"
                        class="form-control"
                        #confirmPass>
                    <div class="input-group-append">
                        <img class="input-group-text clickable" alt="x" [appPasswordVisibility]="confirmPass">
                    </div>
                </div>
                <div style="color: red;" *ngIf="resetForm.get('passwordConfirm')?.touched">
                    <small *ngIf="resetForm.errors?.passwordsNotMatching">passwords not matching</small>
                </div>
            </div>
            <button class="btn btn-success" [disabled]="!resetForm.valid">Reset Password</button>
        </form>
    </div>
</div>
    
