<!-- SIGNUP FORM -->
<form *ngIf="!signedupEmail; else verification" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <h4 class="auth-label">SIGNUP</h4>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" formControlName="name">
        <div class="warning" *ngIf="signupForm.get('name')?.touched">
            <div *ngIf="signupForm.get('name')?.errors; else invalidChar">
                <small *ngIf="signupForm.get('name')?.errors?.required">Name required</small>
                <small *ngIf="signupForm.get('name')?.errors?.minlength">Name must be at least 3 characters long</small>
                <small *ngIf="signupForm.get('name')?.errors?.maxlength">Name can't be longer than 30 characters</small>
            </div>
            <ng-template #invalidChar>
                <small *ngIf="signupForm.errors?.invalidCharacters">Name can contain only letters</small>
            </ng-template>
        </div>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input type="text" name="email" class="form-control" formControlName="email">
        <div class="warning" *ngIf="signupForm.get('email')?.touched">
            <small *ngIf="signupForm.get('email')?.errors?.required">Email required</small>
            <small *ngIf="signupForm.get('email')?.errors?.email">Invalid email format</small>
        </div>
    </div>
    <div formGroupName="passwordData">
        <div class="form-group">
            <label for="password">Password</label>
            <div class="input-group">
                <input type="password" name="password" class="form-control" formControlName="password" #inputPass>
                <div class="input-group-append">
                    <img class="input-group-text clickable" alt="x" [appPasswordVisibility]="inputPass">
                </div>
            </div>
            <div class="warning" *ngIf="signupForm.get('passwordData.password')?.touched">
                <small *ngIf="signupForm.get('passwordData.password')?.errors?.required">Password requried</small>
                <small *ngIf="signupForm.get('passwordData.password')?.errors?.minlength; else charValidation">
                    Minimum length for is 8 characters
                </small>
                <ng-template #charValidation>
                    <small *ngIf="signupForm.get('passwordData.password')?.errors?.invalidCharacters">Name can contain
                        only letters and numbers</small>
                </ng-template>
            </div>
        </div>
        <div class="form-group">
            <label for="passwordConfirm">Password Confirm</label>
            <div class="input-group">
                <input type="password" name="passwordConfirm" class="form-control" formControlName="passwordConfirm"
                    #inputPassConf>
                <div class="input-group-append">
                    <img class="input-group-text clickable" alt="x" [appPasswordVisibility]="inputPassConf">
                </div>
            </div>
            <small class="warning" *ngIf="
                                            !signupForm.valid &&
                                            signupForm.get('passwordData')?.errors && 
                                            signupForm.get('passwordData')?.errors?.passwordsNotMatching &&
                                            signupForm.get('passwordData.password')?.touched &&
                                            signupForm.get('passwordData.passwordConfirm')?.touched">Passwords not
                matching
            </small>
        </div>
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!signupForm.valid">Signup</button>
</form>

<!-- VERIFICATION -->
<ng-template #verification>
    <button (click)="onBackToSignup()" style="margin-top: 50px;" class="btn btn-dark">Back To Signup</button>
</ng-template>

<!-- SWITCH TO LOGIN -->
<div>
    <hr>
    <button type="button" class="btn btn-primary" [routerLink]="['/auth/login']">
        Switch to Login
    </button>
</div>