.modal-body {
  max-height: 50vh;
  overflow: auto;
}

img {
  width: 64px;
  height: 64px;
}

img:not(.selected-icon) {
  cursor: pointer;
  margin: 10px 5px;
}

img:hover:not(.selected-icon) {
  background: rgb(230, 230, 230);
  box-shadow: 0px 0px 5px 5px rgb(230, 230, 230);
}

.modal-footer {
  display: flex;
  justify-content: center;
}

.modal-footer * {
  margin: 10px 15px;
}

.search-icon {
  width: 50%;
  margin: auto;
}
