<div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">       
        <div class="overview">
            <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem, quod.</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet debitis, provident illo modi odio impedit!</p>
            <p>Lorem, ipsum: <a href="" target="_blank">Lorem, ipsum.</a></p>
            <p>Lorem, ipsum: <a href="" target="_blank">Lorem, ipsum dolor.</a></p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Placeat, odit hic commodi sapiente quas, doloremque perspiciatis voluptatibus dolorum optio animi molestias, excepturi cumque est illum nihil. Illo perferendis facere ut?</p>
        </div>
    </div>
</div>