<div class="row justify-content-center align-items-center">
    <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-7">       
        <div class="overview">
            <h2>Angular app for storing sensitive data like passwords, pin-codes etc</h2>
            <p>Signup, verify email and start using PassKeep by adding accounts to your collection</p>
            <p>Sensitive data are encrypted and stored in database. Advanced Encryption Standard is used.</p>
            <p>API Documentation: <a href="https://documenter.getpostman.com/view/12799337/TzK17aYU" target="_blank">postman_documentation</a></p>
            <p>GitHub: <a href="https://github.com/Caligula91/pass-keep-ng" target="_blank">/Caligula91</a></p>
            <p>Support: mihajlo.nikolic.991@gmail.com</p>
        </div>
    </div>
</div>