<div *ngIf="accounts.length > 0; else noAccounts" class="accounts-container" (click)="onClick($event)">
    
    <ng-container *ngIf="(accounts | accountsFilterPipe:sortBy:order:search) as results">

        <div *ngIf="results.length > 0; else noResults">

            <!-- ACCOUNT CARDS -->
            <div *ngFor="let account of results" >

                <!-- ALERT -->
                <app-alert *ngIf="alert && account.id === alertAccountId" [alert]="alert" store="accounts"></app-alert>

                <!-- ACCOUNT CARD -->
                <app-accounts-card
                    [account]="account" 
                    class="account-card" 
                    [id]="account.id">
                </app-accounts-card> 
            </div>  

        </div>

        <ng-template #noResults>
            <h5 style="word-break: break-all;">No results for: {{ search }}</h5>
        </ng-template>

    </ng-container>

</div>

<!-- NO CARDS INFO -->
<ng-template #noAccounts>
    <div class="accounts-container">
        <h5 style="text-align: center;">
            You don't have accounts. 
            <a class="clickable" style="text-decoration: none;" [routerLink]="['/create-account']">Click here</a> 
            to add new account to your list.
        </h5>
    </div>
</ng-template>



